<div class="container-fluid">
  <nav class="navbar navbar-light justify-content-between">
    <a class="navbar-brand"><img src="https://is5-ssl.mzstatic.com/image/thumb/Purple123/v4/51/af/bf/51afbf67-b499-af85-0643-1e0ba633f65d/AppIcon-Motivation-0-1x_U007emarketing-0-0-GLES2_U002c0-512MB-sRGB-0-0-0-85-220-0-0-0-5.png/246x0w.jpg">Quotes</a>
  </nav>
  <div style="text-align:center">
    <h1>
      Rate a {{ title }}
    </h1>
  </div>
    <app-quote></app-quote>
  <!-- <footer>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <p>designs by Charles</p>
    </div>
  </footer> -->
</div>
<app-quote></app-quote>
